<!doctype html>
<html lang="de">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ seitentitel }}</title>
<meta name="description" content="{{ meta_beschreibung }}">
<link rel="icon" href="{{ favicon[0] }}" type="{{ favicon[1] }}">
<style>
{{ css }}
</style>
</head>
<body>
{{ body }}
</body>
</html>
